# For local development: kafka and postgres in a container, consumer and producer running locally

# changing this needs a restart of the local infra: make stop-local-infra
KAFKA_TOPIC=checkweb
KAFKA_BOOTSTRAP_SERVER=localhost:9092
# If empty, will connect without ssl/auth
# Either a absolute path or relative to the src directory (if used with make run-aiven)!
# needs to contain service.cert, service.key, ca.pem files (download from kafka service in the UI)
KAFKA_CERT_PATH=

# How much time between pinging/scraping the URL
PRODUCER_INTERVAL_SECONDS=10
# Which website to scrape
PRODUCER_SCRAPE_URL=https://www.google.com
# the regex to match the content with.
# Danger: some chars might need double escaping, e.g. / -> \/!
PRODUCER_SCRAPE_REGEX=<title>Google<\/title>
# <=0 means run forever
PRODUCER_MAX_LOOPS=10

# Changing and *_POSTGRES_* requires a restart of the local infra: make stop-local-infra
CONSUMER_POSTGRES_USER=checkweb
CONSUMER_POSTGRES_PASSWORD=password
CONSUMER_POSTGRES_DB=checkweb
CONSUMER_POSTGRES_HOST=localhost
CONSUMER_POSTGRES_PORT=5555
# If empty, will connect without ssl. For Aiven set to: require
CONSUMER_POSTGRES_SSL_MODE=



