# For local development: kafka and postgres in a container, consumer and producer running locally
POSTGRES_PASSWORD=password
# scraped website ping
POSTGRES_USER=scrawebp
POSTGRES_DB=scrawebp
KAFKA_TOPIC=scrawebp
KAFKA_BOOTSTRAP_SERVER=localhost:9092

# How much time between pinging the website
PRODUCER_INTERVAL_SECONDS=10
